@import "./global.css";
@import "./utilidades.css";
@import "./header.css";
@import "./main.css";
@import "./footer.css";
@import "./cadastro.css";
@import "./projeto.css";
@import "./responsivo.css";